* { font-family: Cantarell; background-image: none; font-size: 18px; }
window { background-color: rgba(11,23,28,0.95); }
button { color: #e2ebe6; background-color: #172930; border: 1px solid #36535b; border-radius: 16px; margin: 12px; background-repeat: no-repeat; background-position: center; background-size: 25%; }
button:hover, button:focus { background-color: #2b494e; border-color: #80d9cc; }
#lock { background-image: url("/home/siverteh/.config/wlogout/icons/lock.png"); }
#logout { background-image: url("/home/siverteh/.config/wlogout/icons/logout.png"); }
#suspend { background-image: url("/home/siverteh/.config/wlogout/icons/suspend.png"); }
#hibernate { background-image: url("/home/siverteh/.config/wlogout/icons/hibernate.png"); }
#shutdown { background-image: url("/home/siverteh/.config/wlogout/icons/shutdown.png"); }
#reboot { background-image: url("/home/siverteh/.config/wlogout/icons/reboot.png"); }
